<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Empleados</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a href="#" class="navbar-brand mx-auto">Operarios</a>
    </nav>

    <div class="d-flex justify-content-center">
      <nav class="row">
        <div class="col-md-6 mt-4 text-center">
          <table class="table table-striped">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Máquina</th>
              <th>Eliminar</th>
              <th>Editar</th>
            </tr>
            <% for (let i = 0; i < operarios.length; i++) { %>
            <tr>
              <td><%= operarios[i].id_elem %></td>
              <td><%= operarios[i].nombre %></td>
              <td><%= operarios[i].maquina %></td>
              <td>
                <a
                  href="/delete/<%= operarios[i].id_elem %>"
                  class="btn btn-danger"
                  >X</a
                >
              </td>
              <td>
                <a href="/edit/<%= operarios[i].id_elem %>">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pen"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"
                    />
                  </svg>
                </a>
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </nav>
    </div>

    <div class="d-flex justify-content-center">
      <div class="col-md-5 mt-4 card">
        <form action="create" method="POST" class="card-body">
          <h3 class="card-title">Agregar Operarios</h3>
          <div class="form-group">
            <h5>Nombre del operario</h5>
            <input
              type="text"
              name="nombre"
              class="form-control"
              placeholder="Ingrese el nombre del operario"
            />
          </div>
          <div class="form-group">
            <h5>Máquina</h5>
            <input
              type="text"
              name="maquina"
              class="form-control"
              placeholder="Ingrese la máquina que opera"
            />
          </div>
          <input type="submit" class="btn btn-secondary" />
        </form>
      </div>
    </div>
  </body>
</html>
